/* Reset basique */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Hero Section */
.hero {
    height: 50vh;
    background-image: url('../images/presentation.jpg'); /* Tu remplaceras par ton image */
    background-size: cover;
    background-position: center;
}

/* Categories */
.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.category img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* ------------------Pour les objects ---------------------------- */

.objets-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.objet-card {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    background-color: #fff;
}

.objet-card:hover {
    transform: scale(1.05);
}

.objet-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.objet-card .content {
    padding: 10px;
}

.objet-card h3 {
    margin: 0;
    font-size: 18px;
}

.objet-card p {
    margin: 5px 0;
}

.objet-card .price {
    font-weight: bold;
    color: #007bff;
}
